body {
    background-color: rgb(240, 240, 240);
}
/* CSS to the navigation bar */
.nav-wrapper {
    background-color: white;
    width: 100%;
    padding: 3px;
}
.nav-div {
    display: flex;
    margin: 0px 35px;
}
.nav-div ul {
    list-style: none;
    padding-right: 100px;
}
.nav-div ul li {
    float: left;
}
.nav-div ul li a {
    display: block;
    text-decoration: none;
    padding: 25px 25px 3px 25px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(59, 53, 53);
}
.nav-div ul li a:hover{
    color: rgb(86, 211, 128);
    background-image: linear-gradient(to right, #34e96a 50%, transparent 50%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 6px 3px;
}
.nav-div ul li a:active{
    color: rgb(87, 136, 201);
    background-image: linear-gradient(to right, #34e96a 50%, transparent 50%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 6px 3px;
}
.logo a {
    color: rgb(105, 87, 87);
    font-size: 50px;
    padding-right: 100px;
    text-decoration: none;
    font-family: 'Barriecito', cursive;
    text-shadow: 2px 2px 3px rgb(105, 87, 87);
    opacity: 0.8;
}
.logo a i{
    color: rgb(86, 211, 128);
    text-shadow: none;
}
.nav-login a i {
    color: rgb(106, 147, 219);
    padding: 20px 10px;
}
.nav-login a i:hover {
    color: rgb(18, 207, 166);
}
.nav-login p{
    font-size: 20px;
    color: rgb(59, 53, 53);
    opacity: 0.8;
    padding: 20px 10px;
    float: right;
    margin-right: 0px;
}
.nav-login p a{
    text-decoration: none;
    opacity: 0.8;
}
.nav-login p a:hover{
    color: rgb(18, 207, 166);
}
.nav-else{
    padding-left: 200px;
}
/* CSS to the content from the base {%block content%} */
.content-wrapper {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;   
}
.content-div {
    display: inline-block;
    text-align: left;
    padding: 20px 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.content-div a i{
    font-size: 30px;
    padding: 10px;
    color: rgb(70, 119, 204);
}
.content-div a i:hover{
    text-shadow: 3px 3px 6px rgb(18, 207, 166);
}
/* CSS to the footer part */
.footer-wrapper {
    background-color: rgb(80, 97, 97);
    width: 100%;
    height: 200px;
}
.footer-wrapper p{
    text-align: center;
    color: silver;
}
.footer-div {
    color: rgb(228, 220, 220);
    margin: 20px 40px;
    display: flex;
    text-align: center;
}
.footer-div ul{
    flex-flow: column;
    list-style: none;
    margin: 10px 20px;
}
.footer-div ul li{
    padding: 3px;
}
.footer-div ul li a{
    color: silver;
    text-decoration: none;
    font-size: 15px;
}
.post-div {
    padding: 30px 0px;
}
.post-div a i {
    padding: 20px;
}
.post-div h2 {
    padding: 10px 20px 20px 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: rgb(60, 88, 124);
}
.post-div h2 a{
    text-decoration: none;
    font: bold;
    color: rgb(60, 88, 124);
}
.post-div p {
    color: rgb(77, 74, 74);
}
.post-div a:hover {
    text-decoration: none;
}
.time {
    margin-left: 5px !important;
    font-style: italic;
    font-size: 15px;
}
.comments a i{
    font-size: 20px;
    padding: 5px;
}
.comments p{

}
.new-edit-div textarea form{
    width: 100% !important;
}
.new-edit-div .btn-primary {
    float: right;
}
