{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal-Growth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Gruppo|Marmelad&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/blogApp.css' %} ">
</head>

<body>
    <div class="body-div">

        <div class="head-div">
            <h1><a href=" {% url 'post_list' %} ">Personal Growth Blog</a></h1>
        </div>

        <div class="content-div">
            <div class="posts">
                <div class="col-md-8">
                    
                    {% block content %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>

        <div class="about-div">
            <h4>About</h4>
        </div>

    </div>
</body>
</html>