{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Quicksand|Gruppo|Barriecito|Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Indie+Flower|Rajdhani|Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href=" {% static 'css/blogApp.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/zenburn.css' %} ">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand logo" href=" {% url 'post_list' %} ">Zen <i class="fas fa-yin-yang"></i> Life</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse nav-div" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href=" {% url 'post_list' %}">Recent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'articles' %}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'books' %}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'about' %}">About</a>
                </li>
            </ul>
        </div>

        <div class="nav-login">
            {% if user.is_authenticated %}
            <a href=" {% url 'post_new' %} "><i class="fas fa-plus fa-2x"></i></a>
            <a href="{% url 'post_draft' %}"><i class="fab fa-firstdraft fa-2x"></i></a>
            <p> {{ user.username|truncatechars:10 }} <small>( <a href="{% url 'logout' %}?next={% url 'post_list' %}">Logout</a>
                    )</small></p>
            {% else %}
            <a href="{% url 'login' %}" class="nav-else"><i class="fas fa-sign-in-alt fa-2x"></i></a>
            {% endif %}
        </div>
    </nav>

    <div class="content-wrapper">

        
        <div class="content-div col-md-6">
                        
            {% block content %}
            {% endblock %}
                
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer-div">

            <ul>
                <li><a href="">Behavioral Psychology</a></li>
                <li><a href="">This is another example</a></li>
                <li><a href="">Yet another text</a></li>
                <li><a href="">A story of my life</a></li>
            </ul>

            <ul>
                <li><a href="">How to fuck it all</a></li>
                <li><a href="">Be your best version</a></li>
                <li><a href="">Do or do not?</a></li>
                <li><a href="">Overthinking</a></li>
            </ul>

            <ul>
                <li><h2>Stanislav</h2></li>
                <li>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-github"></i>
                    <i class="fas fa-envelope"></i>
                </li>
            </ul>

            <ul>
                <li><a href="">Behavioral Psychology</a></li>
                <li><a href="">This is another example</a></li>
                <li><a href="">Yet another text</a></li>
                <li><a href="">A story of my life</a></li>
            </ul>

            <ul>
                <li><a href="">How to fuck it all</a></li>
                <li><a href="">Be your best version</a></li>
                <li><a href="">Do or do not?</a></li>
                <li><a href="">Overthinking</a></li>
            </ul>
    
        </div>
        <p>Contact | Copyright © 2018 | Terms and Privacy | Thanks</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/blogApp.js' %}"></script>

</body>
</html>