{% extends 'blogApp/base.html' %}
{% load markdownify %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    
    {% if post.published_date %}
        <p>{{ post.published_date }}</p>
    {% else %}
        <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}

    {% if user.is_authenticated or user.is_superuser %}
        <a href=" {%  url 'post_edit' pk=post.pk %} "><i class="fas fa-leaf fa-2x" style="color: green;"></i></a>
        <a href=" {% url 'post_delete' pk=post.pk %} " style="color: red; padding: 10px;" 
            onclick="return confirm('Are you sure you want to delete this post?')">
        <i class="fas fa-minus-square fa-2x"></i></a>
        {% endif %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.text| markdown | safe |linebreaksbr }}</p>
    <hr><br>

    {% if user.is_authenticated or comment.approved %}
        <a href="{% url 'post_comment' pk=post.pk %}" class="btn btn-primary">add comment</a>
    {% endif %}

    {% for comment in post.comments.all %}

        <p class="time"> {{ comment.created_date }}</p>
        
        <strong>{{ comment.author }}</strong>

        {% if user.is_superuser %}
            <a href="{% url 'delete_comment' pk=comment.pk %}"><i class="fas fa-trash" style="color:red;"></i></a>
            {% endif %}
        {% if not comment.approved and user.is_superuser %}
            <a href="{% url 'approve_comment' pk=comment.pk %}"><i class="fas fa-check" style="color: green;"></i></a>
        {% endif %}

        <p>{{ comment.text | markdown | safe | linebreaksbr }}</p>
    {% empty %}
        <p>No comments yet...</p>
    {% endfor %}

{% endblock %}

  